{% extends "base.html" %}

{% block content %}
    {% for category in categories %}
        <a href="{% url 'product-list' category_pk=category.pk category_slug=category.slug %}">{{ category }}</a><br/>
        {% for child in category.children.all %}
             - <a href="{% url 'product-list' category_pk=child.pk category_slug=child.slug %}">{{ child }}</a><br/>
        {% endfor %}
        <hr/>
    {% endfor %}

    <ul>Demo pages (templates for this pages shouldn't be implemented for production version):
        <li><a href="{% url 'demo-cart' %}">cart.js demo</a></li>
    </ul>

{% endblock %}