@charset "UTF-8";
body {
  line-height: 150%;
  background: #fff;
  font-family: Helvetica, Arial, serif;
  position: relative;
  color: #5A5A5A;
  padding: 0;
  margin: 0;
}
body.open-menu {
  overflow: hidden;
}
@media (max-width: 480px) {
  body {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

img {
  display: block;
  max-width: 100%;
  vertical-align: top;
}

a {
  color: #e74c3c;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  line-height: 1;
}

button {
  border: none;
  background: none;
}

figure {
  margin: 0;
}

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6,
a, a:focus, span {
  outline: none;
}

.b-header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: center;
  height: 40px;
}
@media (max-width: 480px) {
  .b-header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .b-header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .b-header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .b-header {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .b-header {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.b-logo {
  width: 50%;
  text-align: left;
}
.b-logo__text {
  text-transform: uppercase;
}

.b-top-menu {
  width: 50%;
}
.b-top-menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.b-top-menu__list li {
  list-style: none;
}
.b-top-menu__link {
  display: block;
  padding: 6px 10px;
  color: black;
  text-decoration: none;
}
.b-top-menu__link--cart-count {
  cursor: pointer;
}

.icon-cart {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.icon-cart:before {
  content: "";
}

.icon-left, .b-slider__nav--prev {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.icon-left:before, .b-slider__nav--prev:before {
  content: "";
}

.icon-right, .b-slider__nav--next {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.icon-right:before, .b-slider__nav--next:before {
  content: "";
}

.label {
  background: whitesmoke;
  color: #6D6D6D;
  padding: 2px 6px;
  border-radius: 3px;
}

.b-slider {
  position: relative;
}
.b-slider:before, .b-slider:after {
  display: table;
  content: ' ';
}
.b-slider:after {
  clear: both;
}

.b-slider__nav {
  position: absolute;
  top: calc(50% - 0.5em);
  z-index: 4;
  cursor: pointer;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.45);
}
.b-slider__nav--prev {
  left: 20px;
}
.b-slider__nav--prev:hover {
  color: #e74c3c;
}
.b-slider__nav--next {
  right: 20px;
}
.b-slider__nav--next:hover {
  color: #e74c3c;
}

.b-slider__img {
  display: block;
  height: calc(100vh - (80px + 80px));
  background-position: center center !important;
}

.b-product-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  .b-product-list {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .b-product-list {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .b-product-list {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .b-product-list {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .b-product-list {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.b-product-item {
  box-sizing: border-box;
  width: calc(25% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .b-product-item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  .b-product-item {
    width: calc(100% - 20px);
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .b-product-item {
    width: calc(100% - 20px);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .b-product-item {
    width: calc(100% - 20px);
  }
}
.b-product-item__image-wrapper {
  margin: 0;
  margin-bottom: 20px;
}
.b-product-item__image {
  border-radius: 3px;
}
.b-product-item__title {
  font-size: 20px;
  font-size: 1.25rem;
  margin: 0;
}
.b-product-item__title-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #5A5A5A;
  text-decoration: none;
}
.b-product-item__price-and-buy {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.b-product-item__buy {
  width: 50%;
  text-align: right;
}

.b-button {
  background-color: #c0392b;
  color: white;
  border-radius: 3px;
  font-size: 16px;
  font-size: 1rem;
}
.b-button__icon {
  font-size: 14px;
  font-size: 0.875rem;
  margin-right: 5px;
}
.b-button--thin {
  line-height: 1;
  padding: 4px 6px;
}

.b-section-title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 480px) {
  .b-section-title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .b-section-title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .b-section-title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .b-section-title {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .b-section-title {
    padding-left: 80px;
    padding-right: 80px;
  }
}
.b-section-title__text {
  font-size: 36px;
  font-size: 2.25rem;
}

.breadcrumps {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 480px) {
  .breadcrumps {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .breadcrumps {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .breadcrumps {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .breadcrumps {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .breadcrumps {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.breadcrumps-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -10px;
}
.breadcrumps-list li {
  list-style: none;
}

.breadcrumps-list-item + .breadcrumps-list-item:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: '\f10c';
  font-size: 9px;
  font-size: 0.5625rem;
  text-align: center;
  margin: 0 0 0 6px;
}
.breadcrumps-list-item__text {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 10px;
}

.single-product {
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  .single-product {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .single-product {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .single-product {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .single-product {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .single-product {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.sp-header {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-image: url(/static/images/product-header-back.png);
  background-repeat: repeat-x;
  background-position: center;
}

.sp-title {
  padding: 0 8px 0 0;
  background-color: #fff;
}
.sp-title__text {
  font-size: 36px;
  font-size: 2.25rem;
}

.sp-price-and-buy {
  padding: 10px 20px;
  background-color: #FFEBAF;
  border-radius: 3px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
}
.sp-price-and-buy:before {
  display: block;
  content: '';
  border-radius: 100%;
  background-color: white;
  position: absolute;
  top: calc(50% - 5px);
  left: -5px;
  width: 10px;
  height: 10px;
}
.sp-price-and-buy:after {
  display: block;
  content: '';
  border-radius: 100%;
  background-color: white;
  position: absolute;
  top: calc(50% - 5px);
  right: -5px;
  width: 10px;
  height: 10px;
}

.sp-buy {
  margin-left: 10px;
}

.sp-main-info {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.sp-image {
  box-sizing: border-box;
  width: calc(40% - 10px);
  margin: 10px;
  margin-left: 0;
  padding: 10px;
}
@media (max-width: 480px) {
  .sp-image {
    width: calc(100% - 10px);
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .sp-image {
    width: calc(100% - 10px);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .sp-image {
    width: calc(100% - 10px);
  }
}
.sp-image__image {
  border-radius: 3px;
}

.sp-description {
  box-sizing: border-box;
  width: calc(60% - 10px);
  margin: 10px;
  margin-right: 0;
  padding: 10px;
}
@media (max-width: 480px) {
  .sp-description {
    width: calc(100% - 10px);
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .sp-description {
    width: calc(100% - 10px);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .sp-description {
    width: calc(100% - 10px);
  }
}

.sp-image-nav {
  width: 100%;
  margin-top: -5px;
  margin-bottom: 5px;
}

.sp-image-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.sp-image-nav-list li {
  list-style: none;
}

.sp-image-nav-list-item {
  width: calc(20% - 10px);
  margin: 5px;
  padding: 5px;
}
@media (max-width: 480px) {
  .sp-image-nav-list-item {
    width: calc(30% - 10px);
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .sp-image-nav-list-item {
    width: calc(30% - 10px);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .sp-image-nav-list-item {
    width: calc(30% - 10px);
  }
}
.sp-image-nav-list-item__image {
  cursor: pointer;
  border-radius: 3px;
}

.b-price-tag--product-list {
  width: 50%;
}
.b-price-tag--big {
  font-size: 24px;
  font-size: 1.5rem;
}
.b-price-tag__value {
  font-weight: 700;
}

.description p:nth-child(1) {
  margin-top: 0;
}
.description p:nth-last-child(1) {
  margin-bottom: 0;
}

.product-block {
  width: 70%;
  margin: auto;
}
@media (max-width: 480px) {
  .product-block {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .product-block {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .product-block {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .product-block {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .product-block {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .product-block {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .product-block {
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .product-block {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .product-block {
    width: 100%;
  }
}

.product-block-title__text {
  font-weight: 700;
}

.b-discover {
  height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 480px) {
  .b-discover {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .b-discover {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .b-discover {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .b-discover {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .b-discover {
    padding-left: 80px;
    padding-right: 80px;
  }
}
.b-discover__wrapper {
  margin: auto;
  width: 200px;
  padding-bottom: 24px;
  text-align: center;
  background-image: url(/static/images/discover.png);
  background-repeat: no-repeat;
  background-size: 48px 14px;
  background-position: center bottom;
  font-size: 14px;
  font-size: 0.875rem;
  color: #969696;
  line-height: 1;
  cursor: pointer;
  z-index: 999;
}
.b-discover__wrapper--active {
  display: inline-block;
  vertical-align: middle;
  animation: scrollDownBox 1s ease-out 1;
}

.b-categories {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  .b-categories {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .b-categories {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .b-categories {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .b-categories {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .b-categories {
    padding-left: 80px;
    padding-right: 80px;
  }
}
.b-categories__item {
  box-sizing: border-box;
  width: calc(33% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .b-categories__item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  .b-categories__item {
    width: calc(100% - 20px);
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .b-categories__item {
    width: calc(100% - 20px);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .b-categories__item {
    width: calc(100% - 20px);
  }
}
.b-categories__image-wrapper {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
}
.b-categories__image {
  border-radius: 3px;
}
.b-categories__title {
  position: absolute;
  left: 0;
  bottom: 10px;
  background: #965A5A;
  color: #fff;
  font-weight: 700;
  max-width: 182px;
  overflow: hidden;
  padding: 5px 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.b-categories__children {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.5;
  margin-bottom: 10px;
}
.b-categories__child {
  display: inline-block;
  margin-right: 10px;
}
.b-categories__child-title {
  color: #5A5A5A;
  text-decoration: none;
}
.b-categories__child-title:hover {
  color: #e74c3c;
}

.specs {
  width: 100%;
}
.specs tr:nth-child(even) {
  background-color: #F3F3F3;
}

.specs-key {
  padding: 10px;
}

.specs-value {
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
