
<!-- Only to 'Orders' test-->
{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
    <div id='orders_success_url'   data-url="{% url 'home' %}"></div>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <form action="." method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Оформить заказ"><br>
    </form>

    <button data-role='insert-data'>Insert data </button>
</body>
</html>
<script src="{% static 'order/order.js' %}"> </script>
