<header class="b-header">
    <nav class="b-logo">
        <span class="b-logo__text">Logo</span>
    </nav>
    <nav class="b-top-menu">
        <ul class="b-top-menu__list">
            <li>
                <a href="" class="b-top-menu__link">About</a>
            </li>
            <li>
                <a href="" class="b-top-menu__link">Warranty</a>
            </li>
            <li>
                <div class="b-top-menu__link b-top-menu__link--cart-count">
                    <span class="icon-cart"></span>
                    <span class="label">12</span>
                </div>
            </li>
        </ul>
    </nav>
</header>