$base-paddings-for-breadcrumps: 20px;

.breadcrumps {
    @include basic-block;
    padding-top: $base-paddings-for-header;
    padding-bottom: $base-paddings-for-header;
}

.breadcrumps-list {
    @include clear-list;
    @include flex;
    align-items: center;
    margin-left: -10px;
}

.breadcrumps-list-item {
    & + .breadcrumps-list-item {
        &:before {
            @include icon-fa;
            content: '\f10c';
            @include font-size(9);
            text-align: center;
            margin: 0 0 0 6px;
        }
    }
    &__text {
        @include inline-middle;
        padding: 6px 10px;
    }
}
