.b-categories{
  @include basic-block;
  @include flex;
  margin-top: $standart-margin-between;
  margin-bottom: $standart-margin-between;
  &__item {
    box-sizing: border-box;
    width: calc(33% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    @include bp(md) {
        width: calc(50% - 20px);
    }
    @include bp(allsmall) {
        width: calc(100% - 20px);
    }
  }
  &__image-wrapper {
      position: relative;
      margin: 0;
      margin-bottom: 20px;
  }

  &__image {
      border-radius: 3px;
  }

  &__title {
    position: absolute;
    left: 0;
    bottom: 10px;
    background: #965A5A;
    color: #fff;
    font-weight: 700;
    max-width: 182px;
    overflow: hidden;
    padding: 5px 10px;
    @include text-elipsis;
    white-space: nowrap;
  }

  &__children {
    @include font-size(15);
    line-height: 1.5;
    margin-bottom: 10px;
  }

  &__child {
    display: inline-block;
    margin-right: 10px;
  }

  &__child-title {
    color: $text-color;
    text-decoration: none;
    &:hover {
      color: $link-color;
    }
  }
}