$base-paddings-for-header: 20px;

.b-header {
    @include basic-block;
    padding-top: $base-paddings-for-header;
    padding-bottom: $base-paddings-for-header;
    @include flex;
    align-items: center;
    height: 40px;
}
