<section class="b-categories" data-front="categories-list">
{% for category in categories %}
    <div class="b-categories__item">
      <figure class="b-categories__image-wrapper">
          <a href="#"><img src="/static/images/tmp/milanotram.jpg" alt="" class="b-categories__image"></a>
          <div class="b-categories__title">{{ category }}</div>
      </figure>
      <div class="b-categories__children">
      {% for child in category.children.all %}
           <div class="b-categories__child">
              <a href="#" class="b-categories__child-title">{{ child }}</a>
           </div>
      {% endfor %}
      </div>
    </div>
{% endfor %}
</section>