<div class="b-product-item" data-front="product-list-item">
    <figure class="b-product-item__image-wrapper">
        <a href="/single-product.html"><img src="{{ photo }}" alt="" class="b-product-item__image"></a>
    </figure>
    <h2 class="b-product-item__title">
        <a href="/single-product.html" class="b-product-item__title-text">{{ child }}</a>
    </h2>
    <div class="b-product__price-and-buy">
        <div class="b-price-tag b-price-tag--product-list">
            <span class="b-price-tag__currency">$</span>
            <span class="b-price-tag__value">{{ price }}</span>
        </div>
        <div class="b-product__buy">
            <button class="b-button b-button--thin">
                <span class="b-button__icon">
                    <span class="icon-cart"></span>
                </span>
                buy
            </button>
        </div>
    </div>
</div>
